/* Gabriela Pedreros - gp21j */

/* This margin is applied to all html elements, global body style */
body {
    background: #fafafa; /* color of background: light grey */
    color: #333333;      /* color of text: dark grey */
    margin-top: 5rem;    /* top page spacing */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;    /* sets heading elements to dark grey */
  }
  
  .bg-steel {
    background-color: #5f788a; /* header background color - blue */
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;        /* sets color of navigation links - light grey blue */
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;        /* change nav links to white when hover */
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;      /* increase boldness of nav links */
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;    /* news title color - dark grey */
  }
  
  a.article-title:hover {
    color: #428bca;    /* when hover over news item title, change color to blue */
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
