<!-- Gabriela Pedreros -gp21j -->
{% extends "layout.html" %}
<!-- Inherit all content from layout.html -->
{% block content %}

    <!-- Overwrite content from layout.html -->
    <h1>Top News from Hacker News</h1>
    <div class="list-group">
    <!-- container for news items -->
        
        {% for item in news_items %}
            <div class="list-group-item list-group-item-action flex-column align-items-start d-flex justify-content-between">
                <!-- display news items -->
                <div>
                    <a href="{{ item.url }}">
                        <h4 class="mb-1">{{ item.title }}</h4>
                    </a>
                    <small>{{ item.time | datetimeformat }}</small>
                    <p class="mb-1">By: {{ item.by }}</p>
                </div>
                
                <!-- like/dislike button & counts -->
                <div class="d-flex align-items-center">
                    <!-- like button and dislike buttons -->
                    <form action="{{ url_for('like_news_item', news_item_id=item.id) }}" method="post" class="mr-2">
                        {{ like_forms[item.id].hidden_tag() }}
                        <button type="submit" class="btn btn-outline-primary btn-sm">Like</button>
                        <span class="badge badge-primary">{{ likes_counts[item.id] }}</span>
                    </form>
                    <form action="{{ url_for('dislike_news_item', news_item_id=item.id) }}" method="post">
                        {{ dislike_forms[item.id].hidden_tag() }}
                        <button type="submit" class="btn btn-outline-danger btn-sm">Dislike</button>
                        <span class="badge badge-danger">{{ dislikes_counts[item.id] }}</span>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
